body 
{
    background-color:black;
    text-align: center;
    
    
}


a{
    border-style: solid;
    background-color:bisque;
    padding: 2%;
    margin-left: 9%;
    border-color: blueviolet;
    
    
}



h1{
    background-color: beige;
    
    
}
 
 


